
<form asp-controller="Home" asp-action="Index" method="post">
    <p>Enter value</p>
    <input name="value" />

    <p>Enter date time</p>
    <input type="datetime-local" name="date" />

    <button type="submit">Send</button>
</form>
