@{
    ViewData["Title"] = "Home Page";
    DateTime currentDate = ViewBag.CurrentDate;
}

<div class="text-center">
    <h1>@ViewBag.CurrenDate</h1>
    <p>@currentDate</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
